html, body {
    margin: 0;
    padding: 0;
    height:100%; 
    width:100%;
}
#marker {
	width: 20px;
	height: 20px;
	border: 1px solid #088;
	border-radius: 10px;
	background-color: #0FF;
	opacity: 0.5;
}

.precinctpopup {
	width: 20%;
	position:fixed;
	top: 0;
	right: 0;
	z-index: 10;
	font-size: 16px; font-size: 1.5vw;
	display: inline-block;
  	vertical-align: middle;
  	horizontal-align: middle;
  	text-align:center;

  	line-height: normal;  
	
}

.popover {
	z-index: auto;
}
.popover-content {
	min-width: 180px;
}
